@page "/CV"

<PageTitle>CV</PageTitle>

<div class="cvbody p-4">
<div class="cvheader pb-3">
    <h1 class="cvheader__title pt-2 pb-2">Sean Edwards</h1>

    <a href="https://www.linkedin.com/in/sean-edwards-654a09195/">
    <img src="LI-Logo.png" alt="linkedin" hspace="50" height="42" width="200"></a>
</div>
<div class="cvabout">
    <h3 class="cvabout__title pb-2 text-decoration-underline">About</h3>
    <p>A Junior Full Stack Developer entering coding from healthcare with a passion for problem solving, professional enrichment and teamwork. Recently graduated from a four month Makers Academy Bootcamp focused on self learning by building a range of apps and websites through individual study and team projects. In the process gaining a sound understanding of OOP, Agile methodologies and TDD. Continuing to build on my technical and engineering skills, I want to bring my work ethic and experience to my next role, helping to build outstanding products with clean and well tested code.</p>
</div>

<div class="projects">
    <h3 class="project__title pb-2 text-decoration-underline">Projects</h3>
    <table class="table mb-4 table-bordered">
        <tr class="table__trheaders">
            <th>Project</th>
            <th>Description</th>
            <th>Tech/Tools</th>
            <th>Link</th>
        </tr>
       <tbody>
        <tr>
            <td>
                Don8
            </td>
            <td>
               <p>A mobile app that connects volunteers to the needs of local charities in their area. A great two week project that really stretched me in lots of aspects. Learning a completely new stack and technologies was exciting and it confirmed to me the course sets you up to learn new languages and tackle any problem.</p>
            </td>
            <td>MongoDB, Node JS, Express, React Native, Jest, Cypress</td>
            <td>
                <a href="https://github.com/bear99a9/don8">project link</a> 
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="skills"> 
    <h3 class="skills__title pb-2 text-decoration-underline">Skills</h3>
    <ul class="skills__ul">
        <li><h5 class="skills__ultitle title--faintunderline">Self Led Leaner</h5></li>
        <li>- A strong self led learner. Within the NHS promoted from junior Physiotherapist to consultant level within seven years. Requiring continuous learning of new concepts at pace to ensure that services and patients were well supported. Great desire to succeed and try new things, which led to Makers Bootcamp.</li>
        <li><h5 class="skills__ultitle title--faintunderline">Problem Solver</h5></li>
        <li>- A competent problem solver. In a recent process review I was given a scenario of solving a client based task in 45 minutes using the TDD model and principles. The session came with positive feedback which is attached here <a href="https://github.com/bear99a9/CV/blob/master/2021-03-01-Red%20Weezing%2068-feedback(1).pdf">link</a></li>
        <li><h5 class="skills__ultitle title--faintunderline">Team worker</h5></li>
        <li>- Adept team worker. Thrive and excel within team environments. Help to nurture strong team ethos and collaboration. Agile mindset to working within teams allowing for enhanced performance and success.</li>
        <li><h5 class="skills__ultitle title--faintunderline">Holostic Communication</h5></li>
        <li>- Proven track record of clear and effective communication. The ability to communicate clearly with a range of people in varied settings. Regular presentations to; patients, frontline staff and senior management to ensure that complex ideas were understood fully.</li>
        <li><h5 class="skills__ultitle title--faintunderline">Leadership</h5></li>
        <li>- Experienced leader. Versatile leader who builds strong relationships and positively inspires others to share best practice and meet high standards. Previous senior leadership roles within the NHS. Captained university, club and county 1st XV rugby teams.</li>
    </ul>
</div>

<div class="experience">
    <h3 class="experience__title pb-2 text-decoration-underline">Experience</h3>
        <div class="m-lg-4">
            <h5 class="title--faintunderline" >Suporting Education Group - May '21 to Present</h5>
    
            <h6 class="fst-italic">Software Developer - March '22 to Present</h6>
    
            <h6 class="fst-italic">Junior Developer - May '21 to March '22 </h6>
    
            <p class="experience__text pb-2">- things ive done listed</p>
    
            <h5 class="title--faintunderline" >Bishops Stortford Rugby Football Club - Sep '10 to present</h5>
    
            <h6 class="fst-italic">1st XV Coach - Sep '19 to present</h6>
    
            <h6 class="fst-italic">Semi professional rugby player - Sep '10 to Sep ‘19</h6>
    
            <p class="experience__text pb-2">- Six England Counties caps, 14 Hertfordshire county caps, 0ver 200 BSRFC appearances and two national league titles.
            <br/>- Specialist forward coaching role.
            <br/>- One to one mentorship of junior players.
            <br/>- Overall responsibility for players training goals and development.
            <br/>- Team and individual coaching drills and sessions.
            <br/>- Player and team performance analysis.
            <br/>- Ability to consistently perform in elite sport with high levels of pressure.
            <br/>- Highly effective team player adapted to high demands of fellow teammates and coaches.</p>

            <h5 class=" title--faintunderline">NHS - Dec '10 to Dec '20</h5>
    
            <h6 class="fst-italic">Extended Scope Spinal Practitioner - May '17 to Dec '20</h6>
    
            <h6 class="fst-italic">Specialist Pain Physiotherapist - Jan '15 to May '17</h6>
    
            <h6 class="fst-italic">Senior Physiotherapist - Jan '13 to Jan '15</h6>
    
            <h6 class="fst-italic">Physiotherapist - Dec ‘10 to Jan ‘13</h6>
    
            <p class="experience__text pb-2">- Holistic communication and motivational interviewing to allow patients to receive individual tailored care.
            <br/>- Responsibility for the effective management, operation and development of the spinal triage team. Including line management of 12 staff.
            <br/>- Effective team worker, building strong team ethos through shared goals and values
            <br/>- High level evidenced based treatment and care of spinal patients within Essex.
            <br/>- Developing and implementing policies, procedures, and quality standards.
            <br/>- Effective approaches to project management to ensure implementation of vision and strategy.
            <br/>- Responsibility for the recruitment and selection of staff.
            <br/>- Mentoring junior staff in career progression and growth.
            <br/>- Undertake an annual service review and audit to inform service development plans, quality standards and to establish relevant performance indicators.
            <br/>- Determining the strategic direction of the service, providing leadership on corporate priorities.</p>
        </div>
</div>

<div class="education">
    <h3 class="education__title pb-2 text-decoration-underline">Education</h3>
        <div class="m-lg-4">

            <h5 class=" title--faintunderline">Makers Academy - Dec '20 to Mar '21</h5>
            <h6>A 16 week intensive development bootcamp, focusing on :</h6>
            <ul>
                <li>Language agnostic coding development.</li>
                <li>OOP, TDD, MVC, DDD.</li>
                <li>Agile/XP.</li>
                <li>Ruby, Rails, JavaScript.</li>
                <li>RSpec, Jasmine, Jest, Cypress.</li>
                <li>MERN stack.</li>
            </ul>

            <h5 class=" title--faintunderline">University of Hertfordshire - Sep '07 - Jun '10</h5>
            <ul>
                <li>BSc Physiotherapy First Class.</li>
                <li>Chartered Society of Physiotherapy student rep.</li>
                <li>1st XV Rugby Captain.</li>
            </ul>
        </div>
</div>

<div class="hobbies">
    <h3 class="hobbies__title pb-2 text-decoration-underline">Hobbies and interests</h3>
    <p>Rugby: Ex player and part time forwards and scrummaging coach at BSRFC.
    <br />Travelling: Love to explore different cultures and languages.
    <br />Gym and fitness: To help keep me sane, supple and slim(ish).
    <br />Cooking: Help me to relax and I love good food.</p>
</div>
</div>

