@page "/"

<PageTitle>Index</PageTitle>


<h1 class="page-title">Sean Edwards</h1>
<h3>Full Stack Developer</h3>


<div class="about">
    <h5>Welcome to my portfolio page. I am creating this to learn and develop my Blazor and dotnet 6 skills</h5>

    <p>
        I am a full stack developer with a passion for creating beautiful, intuitive, and user-friendly applications.
        I have a background in mathematics and computer science, and I am currently pursuing a degree in computer science.
        I am currently working on a project at <a href="https://www.google.com/">Google</a> where I am building a web application
        to help people find the best restaurants in their area.
    </p>
</div>


