@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    
    <main>
        <div class="top-row px-4">
            <Search/>
        @*    <a href="https://github.com/bear99a9">
                <img alt="GitHub" src="GitHub_Logo.png" width="160" height="70">
            </a>
            <a href="https://www.linkedin.com/in/sean-edwards-654a09195/">
               <img src="LI-Logo.png" alt="linkedin" hspace="50" height="42" width="200">
            </a>*@
            
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
