@inject NavigationManager NavigationManager
<div class="input-group">
    <input />
     <div class="input-group-append">
        <button class="btn btn-primary">
            <span class="oi oi-magnifying-glass"></span>
        </button>
    </div>
</div>
@code {

}
